{{ define "main" }}

<main>
  <h1>{{ .Title }}</h1>
  <div>
    {{ with resources.GetMatch ( path.Join "thumbnails" .Params.thumbnail ) }} 
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
    {{ end }}

    <h4>{{ .Date.Format "Jan 2, 2006" }}</h4>
    <h5>{{ .WordCount }} Words </h5>

    {{ with .GetTerms "tags" }}
      <ul>
        {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
    {{ end }}

    <article>
      {{ .Content }}
    </article>
  </div>
</main>

{{ end }}