<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zack Eisbach</title>
  </head>

  <body>
    {{ partial "header.html" . }}
    <h1>Zack Eisbach</h1>
    {{ .Content }}
    <p>Zack is currently <span id="tracker">...</span></p>
  </body>

</html>

<script>
  async function getCurrentEntry() {
    const data = await fetch("https://zack-eisbach-wkpfa.ondigitalocean.app/serverless/toggl/get-current-time-entry");
    const entry = await data.json();
  
    const current = document.getElementById("tracker");
    current.innerHTML = entry.currently;
    current.style.color = entry.color;
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    getCurrentEntry();
  });
</script>